.panda-bg{
    background-color: #fceae8;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    padding: 9px 25px;
    border-radius: 8px;
    border: 0cm;
}